.btn-outline-primary:hover {
  color: #3196b2 !important;
  background-color: rgba(49, 149,178,.2) !important;
}

.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  background-color: transparent !important;
}