/* Avatar */
.csg-avatar {
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.csg-avatar-sm {
  height: 2.65rem;
  width: 2.65rem;
  font-size: 1rem;
}

.csg-avatar-lg {
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
}

.csg-avatar-border{
  border: 2px solid;
}