/* active navigation links */
.list-group-item.active,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #727a8e;
  border-color: #727a8e;
}
/* tabs */
.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
}
.nav-tabs .nav-link {
  border: none;
  border-bottom: 4px solid transparent;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: rgba(49, 150, 178, 0.5);
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #555c6e;
  background-color: transparent;
  border-color: #555c6e;
}

/* Data Badge */
.csg-data-badge {
  position: relative;
}

.csg-data-badge[data-badge]:before {
  content: attr(data-badge);
  position: absolute;
  top: -.6rem;
  right: -.6rem;
  font-size: .7rem;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  border-radius: 1rem;
  font-weight: bold;
}

.nav-link.csg-data-badge[data-badge]:before {
  right: 0;
  top: -.5rem;
}

.flex-column > .nav-link.csg-data-badge[data-badge]:before {
  top: .25rem;
  right: .25rem;
}

.csg-data-badge-dark[data-badge]:before {
  background-color: rgba(52,58,64,1);
}

.csg-data-badge-primary[data-badge]:before {
  background-color: rgba(49,150,178,1);
}

.csg-data-badge-secondary[data-badge]:before {
  background-color: #dddfe4;
  color: #727a8e;
}

.csg-data-badge-danger[data-badge]:before {
  background-color: rgba(229,78,40,1);
}

.csg-data-badge-warning[data-badge]:before {
  background-color: rgba(216,150,19,1);
}

.csg-data-badge-info[data-badge]:before {
  background-color: rgba(86,105,131,1);
}

.csg-data-badge-success[data-badge]:before {
  background-color: rgba(127,166,52,1);
}